<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./upload_vid_files/style.css">
    <link href="./main_css/main_body_css/img/favicon.png" rel="icon">
</head>
<body>
    <main class="app">
        <div class="header">
            <h2>Upload Images
                <div class="server-message"></div>
            </h2>
        </div>

        <div class="input-div">
            <p>Drag & Drop videos <span class="browse">Browse</span></p>
            <input type="file" class="file" accept="video/*">
        </div>

        <form id="saved-form">
            <div class="header">
                <h3>Saved in server</h3>
                <button type="submit">Delete</button>
            </div>
            <div class="saved-div" id="saved-div"></div>
        </form>

        <form id="queued-form">
            <div class="header">
                <h3>Queued in frontend</h3>
                <button type="submit">Upload</button>
            </div>
            <div class="queued-div" id="queued-div"></div>
        </form>
    </main>
    <script src="./upload_vid_files/upload.js"></script>
</body>
</html>
