<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    
    <link href="../../css/main_css/main_body_css/img/favicon.png" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="../../css/main_css/nav_bar_css/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="../../css/main_css/nav_bar_css/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../css/main_css/nav_bar_css/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../../css/main_css/nav_bar_css/lib/ionicons/css/ionicons.min.css" rel="stylesheet">


    <!-- Main Stylesheet File -->
    <link href="../../css/main_css/nav_bar_css/css/style.css" rel="stylesheet">
    <link href="../../css/profile_css/profile_style.css" rel="stylesheet">
</head>
<body>
    <!-- Nav bar -->
    <!--/ Nav Star /-->
      <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
        <div class="container">
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
            aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
          </button>
          <a class="navbar-brand text-brand" href="/">Cryp<span class="color-b">Video</span></a>
          <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse"
            data-target="#navbarTogglerDemo01" aria-expanded="false">
            <span class="fa fa-search" aria-hidden="true"></span>
          </button>
          <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/main">Streams</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <!--/ Nav End /-->
    <br>
    <br>
    <!-- Main -->
    <div class="flex items-center justify-center h-screen">
        <div class="bg-white p-8 shadow-md rounded-lg max-w-md w-full">
            <!-- form -->
            <section class="space-y-4" id="profile">
                <h2 class="title">Public Profile</h2>
                <!-- Profile picture -->
                <div class="flex justify-center mb-4">
                    <img src=".\css/main_css\main_body_css\img\default_profile.png" alt="Profile" class="w-32 h-32 rounded-full shadow-md">
                </div>
                <!-- User info -->
                <div class="space-y-4">
                    <div>
                        <label class="block font-medium">Username:</label>
                        <p class="border rounded p-2 bg-gray-100"><%= username %></p>
                    </div>
                    <div>
                        <label class="block font-medium">Email:</label>
                        <p class="border rounded p-2 bg-gray-100"><%= email %></p>
                    </div>
                    <div>
                      <label class="block font-medium">Wallet:</label>
                      <p class="border rounded p-2 bg-gray-100 break-all overflow-wrap-anywhere">
                          <%= meta %>
                      </p>
                    </div>
                </div>
                <!-- Edit profile button -->
                <div class="Profile button">
                  <button onclick="gotoEditProfile()" value="Edit Profile">Edit Profile</button>
                </div>
                <div class="Profile button">
                  <button onclick="gotoUpload()" value="upload Vidoes">Upload File</button>
                </div>
                <div class="Profile button">
                  <button onclick="gotoEdit()" value="upload Vidoes">Edit Videos</button>
                </div>
            </section>
            <br>
            <div id="statusMessage" class="text-red-500 mt-2"></div>
        </div>  
    </div>

    <!-- JavaScript Libraries -->
    <script src="../../css/main_css/nav_bar_css/lib/jquery/jquery.min.js"></script>
    <script src="../../css/main_css/nav_bar_css/lib/jquery/jquery-migrate.min.js"></script>
    <script src="../../css/main_css/nav_bar_css/lib/popper/popper.min.js"></script>
    <script src="../../css/main_css/nav_bar_css/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../css/main_css/nav_bar_css/lib/easing/easing.min.js"></script>
    <script src="../../css/main_css/nav_bar_css/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../../css/main_css/nav_bar_css/lib/scrollreveal/scrollreveal.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="../../css/main_css/nav_bar_css/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="../../css/main_css/nav_bar_css/js/main.js"></script>

<script>
    function gotoEditProfile() {
            window.location.href = "editprofile";
    }
    function gotoUpload() {
            window.location.href = "videos";
    } 
    function gotoEdit() {
            window.location.href = "check_videos";
    } 
</script>

</body>

</html>