* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
  background-color: whitesmoke;
}

button {
  padding: 10px;
  width: 70px;
  color: white;
  font-family: inherit;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid black;
  background-color: black;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
}

.app {
  max-width: 1224px;
  width: 92%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding-bottom: 10px;
}

.header h2 {
  min-width: fit-content;
}

.server-message {
  width: 100%;
  padding: 16px;
  border-radius: 5px;
}

.input-div {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px dotted black;
  background-color: white;
  position: relative;
}

.input-div .browse {
  color: black;
  font-weight: bold;
}

.file {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.saved-div,
.queued-div {
  width: 100%;
  min-height: 150px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  position: relative;
  border-radius: 5px;
  border: 2px dotted black;
  background-color: white;
}

.saved-div .video,
.queued-div .video {
  height: 150px;
  width: auto; /* Adjust width based on container */
  max-width: 200px; /* Constrain maximum width */
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
}

.saved-div .video:nth-child(4n),
.queued-div .video:nth-child(4n) {
  margin-right: 0;
}

.saved-div .video video,
.queued-div .video video {
  height: 100%;
  width: 100%;
  object-fit: cover; /* Ensures video covers the container */
  display: block;
}

.saved-div .video .delete-button,
.queued-div .video .delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.saved-div .video .delete-button:hover,
.queued-div .video .delete-button:hover {
  background: rgba(0, 0, 0, 0.8);
}